<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cxLocal" connectionString="Data Source=LAPTOP-1RMJ8IKG;Initial Catalog=DBCP;User ID=sa;Password=sqlserver17;Connection Timeout=600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>